# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6
print(number)

6

##### Assinging float

In [2]:
float = 2.5
print(float)

2.5

#### Performing Calculations on ints and floats

##### Addition

In [12]:
num1 = 5
num2 = 2.5

#short hand
result = num1 + num2
print(result)
result+=2
print(result)

7.5
9.5

Subtraction

In [13]:
num_diff = num1 - num2
print(num_diff)

#short hand
num_diff-=2
print(num_diff)

2.5
0.5

##### Multiplication

In [14]:
num_mul = num1 * num2
print(num_mul)

#short hand
num_mul*=2
print(num_mul)

12.5
25.0

##### Division

In [10]:
result_div = num1 / num2
print(result_div)

#short hand
result_div /=2
print(result_div)

2.0
1.0

Floor Division

In [17]:
div_floor = num1 // num2
print(div_floor)

#short hand
div_floor//=2
print(div_floor)

2.0
1.0

##### Modulo

In [19]:
num_mod = 10 % 3
print(num_mod)

1

Exponential

In [22]:
num_exp = 5 **2
print(num_exp)

25

### String Input-Output

##### String Assignment

In [25]:
name = "keion"
print(name)

keion

##### print() <br>
<p>Don't forget about end=' '</p>

In [35]:
print("This is my first name:",name)
print("fullname: ", name, end= " fields")

This is my first name: keion
fullname:  keion fields

##### String Concatenation

In [39]:
first_name = "Keion"
last_name = "Fields"
print(first_name + " " + last_name)

Keion Fields

##### Type Conversion

In [42]:
number = "32"
change_type_num = int(number)
change_type_num += 7
print(change_type_num)

39

##### input()

In [49]:
age = input("How old are you? ")
name = input("what is your name? ")
print(name)
print(age)

How old are you? 26
what is your name? keion
keion
26

##### format()

In [52]:
name = input("what is your name? ")
age = input("What is your age? ")

result_string = "You are {}, you are {} years old and you are getting wiser.".format(name, age)
print(result_string)

what is your name? keion
What is your age? 26
You are keion, you are 26 years old and you are getting wiser.

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [55]:
color = input("What color is your car? ")
year = input("What year is your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car ")

result_string = "You have a {}, {}, {}, {}".format(color, year, make, model)
print(result_string)

What color is your car? red
What year is your car? 2021
What is the make of your car? kia
What is the model of your car k5
You have a red, 2021, kia, k5

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

##### 'is' keyword

In [56]:
num1 = 5
num2 = 10

if num1 == num2:
    print("Equal values")
else:
    print("Not equal")
if num2 > num1:
    print("num2 is greater than")
elif num2 < num1:
    print("Num2 is less than")
else:
    print("Theyre the same")

Not equal
num2 is greater than

##### 'in' keyword

In [62]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [63]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT HERE")

a is NOT HERE

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [69]:
name = input("what is your name? ")

if 'p' not in name:
    print("'p' is NOT HERE")
else:
    print("'p' is HERE")

what is your name? patrick
'p' is HERE

## Using 'and'/'or' with If Statements

In [1]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
else:
    print("The name is Max")

The name is Max

Elif Statements

In [2]:
age = 11

if first_name == "Max" or age == 10:
    print("I am Max and I am 10")
elif first_name == "Max" and age == 10:
    print("I am either Mx or I am 10")

I am Max and I am 10

### Else Statements

In [ ]:
# see above

### For Loops

In [7]:
name = "keion fields"

for letter in name:
    print(letter)

k
e
i
o
n

f
i
e
l
d
s

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [5]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [6]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [11]:
for i in name:
    pass

##### Double For Loops

In [9]:
total = 0
for i in range(5):
    for j in range(5):
        total += 1
        print(total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25

### While Loops

In [13]:
num = 0
while True:
    if num >= 10:
        break
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [18]:
game_running = True
score = 0

while game_running:
    user_input = input("say some stuff")
    if user_input == 'quit':
        game_running = False
    print(user_input)
    score += 1
    print(f"score:  {score}")

say some stuffhi
hi
score:  1
say some stuffhell0
hell0
score:  2
say some stuffdbfbbfkn
dbfbbfkn
score:  3
say some stuffquit
quit
score:  4

##### While & For Loops Used Together

In [20]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
    
    num += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

### Built-In Functions

##### range()

In [14]:
for i in range(2, 20, 3):
    print(i)

2
5
8
11
14
17

##### len()

In [16]:
name = "keion"

length = len(name)
print(length)

5

##### help()

In [17]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [21]:
print(isinstance(4.5,int))
if isinstance(4.5, float):
    print("This number is a float")

False
This number is a float

##### abs()

In [22]:
# / 5 / 

print(abs(-5))

5

### Try and Except

In [23]:
number_test = 0
input_num = int(input("Guess a number "))
if input_num != number_test:
    input_num = input_num + number_test
    print("Your number is: " + str(input_num))

Guess a number 18
Your number is: 18

### Lists

##### Declaring Lists

In [24]:
my_list = [16, 26, "keion", "teashari", 1]
print(my_list)

[16, 26, 'keion', 'teashari', 1]

##### Indexing a List

In [25]:
print(my_list[2])

keion

##### .append()

In [27]:
my_list.append("mark")
print(my_list)

[16, 26, 'keion', 'teashari', 1, 'mark']

##### .insert()

In [28]:
my_list.insert(1, "tom")
print(my_list)

[16, 'tom', 26, 'keion', 'teashari', 1, 'mark']

##### .pop()

In [29]:
my_list.pop(2)
print(my_list)

[16, 'tom', 'keion', 'teashari', 1, 'mark']


##### .remove()

In [30]:
my_list.remove(16)
print(my_list)

['tom', 'keion', 'teashari', 1, 'mark']

##### del()

In [31]:
del(my_list[2])
print(my_list)

['tom', 'keion', 1, 'mark']

##### Concatenating Two Lists

In [32]:
first_list = ["basket_ball", "football", "baseball"]
second_list = ["scoccer", "tennis", "rugby"]
big_list = first_list + second_list
print(big_list)

['basket_ball', 'football', 'baseball', 'scoccer', 'tennis', 'rugby']

##### Lists Within Lists

In [36]:
names = [ "Max", "Sam", "Keion", ["Teashari", "John", "Bob"]]

print(names)

['Max', 'Sam', 'Keion', ['Teashari', 'John', 'Bob']]
John

##### Looping Through Lists

In [37]:
names = [ "Max", "Sam", "Keion", ["Teashari", "John", "Bob"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Keion', ['Teashari', 'John', 'Bob']]
John

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [91]:
cubes = []
for i in range((11)):
    cubes.append(i**3)
print(cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [84]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

for num in range(2,100):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [77]:
user_input = int(input("What is your age? "))

if user_input < 18:
    print("kids")
elif user_input <= 65:
    print("adults")
else:
    print("seniors")

What is your age? 26
adults